@page
@model OdeToFood.UI.Pages.Restaurants.ClientRestaurantsModel
@{
    ViewData["Title"] = "Client Restaurants";
}

<table class="table" id="restaurants"></table>

@section Scripts{

<environment include="Development">
    <script src="~/node_modules/datatables.net/js/jquery.dataTables.js"></script>
    <link href="~/node_modules/datatables.net-bs5/css/dataTables.bootstrap5.css"/>
    <script src="~/node_modules/datatables.net-bs5/js/dataTables.bootstrap5.js"></script>
</environment>

<environment exclude="Development">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.css" />
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.11.5/datatables.min.js"></script>
</environment>

<script>
    $(()=>{
        let cuisines = ["Unknown", "Mexican", "Italian", "Indian"];
        $.ajax('/api/restaurants', { method : 'get'})
         .then((res)=>{
             console.log(res);
             $('#restaurants').dataTable({
                 data : res,
                 columns: [
                     {"data" : "name"},
                     {"data" : "location"},
                     {"data" : "cuisine", "render" : (data) => {
                        return cuisines[data];
                     }}
                 ]
             });
         });
    });
</script>
}