@page
@model OdeToFood.UI.Pages.Restaurants.ListModel
@{
    ViewData["Title"] = "Restaurants";
}

<h1>Restaurants</h1>

<a class="btn btn-success" asp-page="./Edit">Create</a>

<form class="p-5 px-0 pb-3" method="get">
    <div class="input-group rounded">
        <input asp-for="SearchTerm" type="search" class="form-control rounded" placeholder="Search" />
        <button class="btn" type="submit">
            <i class="fas fa-search"></i>
        </button>
    </div>
</form>

@foreach (var item in Model.Restaurants)
{
    <partial name="_Summary" model="item" />
}

@section footer{
<div>@Model.Message</div>
}